$primary-color: #1A73E9;
// $secondary-color: #05C4E1;
$secondary-color: #4CB5AB;

$grey: #5F5F5F;
$grey-light: #828282;

$black: #191E24;
$white: #FEFEFE;

$delete-color: #FF1744;
$error-color: #bb2d3b;