@import '../../../util/styles/buttons.scss';
@import '../../../util/styles/effects.scss';
@import '../../../util/styles/colors.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
    margin: 0;
}

button {
    @include button;
    width: 40%;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

.dismiss {
    background-image: none;
    background-color: $white;
    color: $black;
    border: $primary-color solid 2px;
    box-shadow: 0 4px 4px rgba($color: $black, $alpha: 0.15);
}

.accept {
    background-image: $primary-gradient;
}