{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"jsxSingleQuote": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"printWidth": 80
}
