<article>
	<header>
		<h1>Account</h1>
        <h2>{{ email }}</h2>
	</header>

    <section class="account-options">
        <button class="btn">
            <div class="button-container">
                <span class="material-icons">email</span>
                Emailadres wijzigen
            </div>
        </button>
        <button class="btn">
            <div class="button-container">
                <span class="material-icons">lock</span>
                Wachtwoord wijzigen
            </div>
        </button>
        <button class="btn">
            <div class="button-container">
                <span class="material-icons">directions_car</span>
                Wachtwoord wijzigen
            </div>
        </button>
        <button class="btn">
            <div class="button-container">
                <span class="material-icons">report_problem</span>
                Account verwijderen
            </div>
        </button>
    </section>

    <button class="btn">
        Uitloggen
        <span class="material-icons">exit_to_app</span>
    </button>

</article>