<article>
    <header>
        <h1>Login</h1>
    </header>

    <app-error-span *ngIf="error.isError" class="error" [errorMessage]="error.message" (isError)="closeError($event)"></app-error-span>

    <form>
        <app-form-input [formName]="'Email'" [isError]="error.isError" (formData)="setEmail($event)"></app-form-input>
        <app-form-input [formName]="'Wachtwoord'" [isError]="error.isError" (formData)="setPassword($event)"></app-form-input>
        <button
            id="loginButton"
            (click)="onSubmit()"
            class="btn float-right"
            [disabled]="isLoading"
            >
            <mat-spinner *ngIf="isLoading" [mode]="'indeterminate'" [diameter]="30" [strokeWidth]="4"></mat-spinner>
            <span *ngIf="!isLoading">LOG IN</span>
        </button>
        <button
            class="btn float-right"
            [disabled]="true"
            >
            REGISTREREN
        </button>
    </form>

</article>
