<article>
    <header>
        <h1>Login</h1>
    </header>

    <app-error-span *ngIf="isError" class="error" [errorMessage]="'Email of wachtwoord onjuist'" (isError)="closeError($event)"></app-error-span>

    <form>
        <app-form-input [formName]="'Email'" [isError]="isError" (formData)="setEmail($event)"></app-form-input>
        <app-form-input [formName]="'Wachtwoord'" [isError]="isError" (formData)="setPassword($event)"></app-form-input>
        <button
            id="loginButton"
            (click)="onSubmit()"
            class="btn float-right"
            [disabled]="isLoading"
            >
            LOG IN
        </button>
        <button
            class="btn float-right"
            [disabled]="true"
            >
            REGISTREREN
        </button>
    </form>

</article>
