<article>
	<section class="top-card">
		<section>
			<div class="item">
				<h2>Liter</h2>
				<h1>10.98</h1>
			</div>
			<div class="item">
				<h2>Tankstation</h2>
				<p>Shell</p>
			</div>
		</section>

		<section style="margin-left: 30px;">
			<div class="item">
				<h2>Prijs</h2>
				<h1>&euro; 20,19</h1>
			</div>

			<div class="item">
				<h2>Locatie</h2>
				<p>eenhelelange naamvan</p>
			</div>
		</section>
	</section>

	<hr />

	<section class="bottom-card">
		<div class="date">
			<p>Woe 1 Jun 12:09</p>
		</div>

		<div class="buttons">
			<button class="delete">
				<span class="material-icons">delete</span>
			</button>

			<button>
				<span class="material-icons">edit</span>
			</button>
		</div>
	</section>
</article>
