{
  "openapi": "3.0.0",
  "info": {
    "title": "Benzine api",
    "description": "This api serves the benzine app.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "User"
    },
    {
      "name": "Fuel"
    },
    {
      "name": "Ride"
    }
  ],
  "servers": [
    {
      "url": "https://benzine-api.janvanoverbeek.nl/"
    }
  ],
  "paths": {
    "/user/{id}": {
      "get": {
        "summary": "Returns the user by ID.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "User does not exists"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "Logs the user in and gives an access- & refreshtoken",
        "tags": [
          "User"
        ],
        "description": "User gets authenticated and gets 2 tokens inside a cookie httponly secret",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cookies with tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "password": {
                      "type": null
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Email or password invalid"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "summary": "Registers the user and gives an access- & refreshtoken",
        "tags": [
          "User"
        ],
        "description": "User gets registered and authenticated gets 2 tokens inside a cookie httponly secret",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cookies with tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "password": {
                      "type": null
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/fuel/": {
      "get": {
        "summary": "Returns all the fuel of user.",
        "tags": [
          "Fuel"
        ],
        "responses": {
          "200": {
            "description": "Fuel object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string"
                      },
                      "liter": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "location": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "__v": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Fuels does not exists"
          }
        }
      }
    },
    "/fuel/{id}/": {
      "get": {
        "summary": "Returns the fuel by ID.",
        "tags": [
          "Fuel"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fuel object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "liter": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    },
                    "location": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Fuel does not exists"
          }
        }
      }
    },
    "/fuel": {
      "post": {
        "summary": "Adds fuel to the database",
        "tags": [
          "Fuel"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "liter": {
                    "type": "number"
                  },
                  "price": {
                    "type": "number"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receiving created fuel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "liter": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    },
                    "location": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "validation error"
          }
        }
      }
    },
    "/fuel/{id}": {
      "put": {
        "summary": "Updates fuel in the database",
        "tags": [
          "Fuel"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "liter": {
                    "type": "number"
                  },
                  "price": {
                    "type": "number"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receiving updated fuel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "liter": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    },
                    "location": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "validation error"
          }
        }
      }
    },
    "/fuel/{id}//": {
      "delete": {
        "summary": "Deletes the fuel by ID.",
        "tags": [
          "Fuel"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succes message"
          },
          "500": {
            "description": "Fuel does not exists"
          }
        }
      }
    },
    "/ride/": {
      "get": {
        "summary": "Returns all the rides of user.",
        "tags": [
          "Ride"
        ],
        "responses": {
          "200": {
            "description": "Ride object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "distance": {
                        "type": "number"
                      },
                      "user": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "__v": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Rides does not exists"
          }
        }
      }
    },
    "/ride/{id}/": {
      "get": {
        "summary": "Returns the ride by ID.",
        "tags": [
          "Ride"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ride object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "distance": {
                      "type": "number"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ride does not exists"
          }
        }
      }
    },
    "/ride": {
      "post": {
        "summary": "Adds ride to the database",
        "tags": [
          "Ride"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "distance": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receiving created ride",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "distance": {
                      "type": "number"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "validation error"
          }
        }
      }
    },
    "/ride/{id}": {
      "put": {
        "summary": "Updates ride in the database",
        "tags": [
          "Ride"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "distance": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receiving updated ride",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "distance": {
                      "type": "number"
                    },
                    "user": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "validation error"
          }
        }
      }
    },
    "/ride/{id}//": {
      "delete": {
        "summary": "Deletes the ride by ID.",
        "tags": [
          "Ride"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succes message"
          },
          "500": {
            "description": "Ride does not exists"
          }
        }
      }
    }
  }
}
