{
  "openapi": "3.0.0",
  "info": {
    "title": "Benzine api",
    "description": "This api serves the benzine app.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bezine-api.janvanoverbeek.nl/"
    }
  ],
  "paths": {
    "/user/{id}": {
      "get": {
        "summary": "Returns the user by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "User does not exists"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "Logs the user in and gives an access- & refreshtoken",
        "description": "User gets authenticated and gets 2 tokens inside a cookie httponly secret",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cookies with tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "password": {
                      "type": null
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Email or password invalid"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "summary": "Registers the user and gives an access- & refreshtoken",
        "description": "User gets registered and authenticated gets 2 tokens inside a cookie httponly secret",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cookies with tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "password": {
                      "type": null
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Email already exists"
          }
        }
      }
    }
  }
}
