@import '../../../util/styles/colors.scss';

ngx-bottom-nav {
    background-color: $primary-color;
    border-radius: 2px;

    button {
        color: $white;
        margin: 8px;

        .label {
            font-size: 20px;
            line-height: 5px;
        }

        mat-icon {
            font-size: 30px;
            width: 100%;
        }
    }
}

.label {
    font-size: 20px;
    line-height: 5px;
}