<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="nav-list">

        <a class="nav-link" routerLink="/rides">
            <span class="material-icons">directions_car</span>
            <p>Ritten</p>
        </a>
        <a class="nav-link" routerLink="/fuel">
            <span class="material-icons">local_gas_station</span>
            <p>Tanken</p>
        </a>
        <a class="nav-link" routerLink="/dashboard">
            <span class="material-icons">poll</span>
            <p>Dashboard</p>
        </a>
        <a class="nav-link" routerLink="/account">
            <span class="material-icons">person</span>
            <p>Account</p>
        </a>

    </div>
  </div>
</nav>