<ngx-bottom-nav>
  <button ngx-bottom-nav label="Ritten" routerLink="/rides">
    <mat-icon ngxBottomNavIcon>directions_car</mat-icon>
  </button>

  <button ngx-bottom-nav label="Tanken" routerLink="/fuel">
    <mat-icon ngxBottomNavIcon>local_gas_station</mat-icon>
  </button>

  <button ngx-bottom-nav label="Dashboard" routerLink="/dashboard">
    <mat-icon ngxBottomNavIcon>poll</mat-icon>
  </button>

    <button ngx-bottom-nav label="Account" routerLink="/account">
    <mat-icon ngxBottomNavIcon>person</mat-icon>
  </button>
</ngx-bottom-nav>
