<article>
	<div *ngIf="!isLoading && fuelExist()">
		<app-fuel-card
			*ngFor="let fuel of fuelList"
			[fuel]="fuel"></app-fuel-card>
	</div>

	<div *ngIf="!isLoading && !fuelExist() && !error.isError">
		<p>No fuel is existing</p>
	</div>

	<span
		*ngIf="isLoading"
		class="spinner-border spinner-border-mm mr-1"></span>
	<p *ngIf="isLoading">Loading..</p>

	<div
		*ngIf="error.isError"
		class="alert alert-danger fade show"
		role="alert">
		{{ error.message }}
	</div>

	<button
		id="loadMoreBtn"
		(click)="loadMoreFuel()"
		class="btn"
		*ngIf="!isLoading && fuelExist()">
		<span>Load more</span>
	</button>
</article>
