@import '../../../util/styles/colors.scss';
@import '../../../util/styles/effects.scss';
@import '../../../util/styles/buttons.scss';

article {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.spinner-border {
    margin: auto;
    border-color: $primary-color;
    border-left-color: $white;
}

#loadMoreBtn {
	height: 27px;
	width: 93px;
	display: flex;
	align-self: center;
}

button {
	@include button;
}
