@import '../../../../util/styles/colors.scss';
@import '../../../../util/styles/buttons.scss';

h1 { margin: 0; }

h2 { margin: 0; }

p { margin: 0; }

article {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;

        span {
            margin-right: 8px;
            color: $primary-color;
        }
    }
}

.desc {

    .dots {
        display: flex;
        flex-direction: column;
        margin-right: 8px;

        .dot {
            margin: 5px 9px;
            height: 4px;
            width: 4px;
            background-color: $primary-color;
            filter:opacity(40%);

            border-radius: 50%;
            display: inline-block;
        }
    }

    p { width: 70%; }

}

.bottom-card {
    display: flex;
    flex-direction: row;
    margin: 10px;

    div {
        width: 50%;
        display: inherit;
        align-self: center;
    }

    .buttons {
        display: inherit;
        justify-content: flex-end;
        align-content: flex-end;

        button {
            @extend .round-button;
            margin: 0 7px;
            height: 42px;

            span {
                font-size: 23px;
                padding: 4px;
            }
        }

        .delete {
            background-color: $delete-color;
        }
    }
}