<article>
    <section class="top-card">

        <div>
            <span class="material-icons">radio_button_checked</span>
            <h1>Naam van rit</h1>
        </div>

        <div class="desc">
            <div class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <p>Dit is een beschrijving van wat er is gebeurd. Ik ben namelijk een grafisch</p>
        </div>

        <div>
            <span class="material-icons">radio_button_checked</span>
            <h2>14.4 Km Gereden</h2>
        </div>

    </section>

    <section class="bottom-card">

        <div>
            <p>Woe 17 Mrt 2021 14:31</p>
        </div>

        <div class="buttons">
            <button class="delete">
                <span class="material-icons">delete</span>
            </button>

            <button>
                <span class="material-icons">edit</span>
            </button>
        </div>

    </section>

</article>
