@import '../../../util/styles/colors.scss';

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter {
	text-align: end;
	width: 85%;
	margin-bottom: 20px;
	color: $grey;
	font-size: 30px;
}
