@import '../../../util/styles/colors.scss';

.filterSettings {
    padding: 0 15px 15px 15px;
	.filterOptions {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        justify-items: start;
		p {
			margin: 0;
		}

		section {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
            cursor: pointer;
            margin-left: 10px;
            user-select: none;

            span {
                margin-right: 10px;
                color: $grey;
            }
		}

        section:not(:last-child) {
            margin-bottom: 15px;
        }
	}
}

@media only screen and (min-width: 576px) {
    .filterSettings {
        .filterOptions {
            grid-template-columns: repeat(2, 1fr);

            section {
                margin-left: 0;
            }

                    section:not(:last-child) {
            margin-bottom: 0;
        }
        }
    }
}